<% if feature? :new_auth %>
  <div class="container">
    <div class="row">
      <div class="col-md-5 feature_name">
        New Auth
      </div>
      <div class="col-md-5 feature_status">True</div>
    </div>
  </div>
<% end %>

<% if feature? :old_auth %>
  <div class="container">
    <div class="row">
      <div class="col-md-5 feature_name">
        Old Auth
      </div>
      <div class="col-md-5 feature_status">False</div>
    </div>
  </div>
<% end %>

<% if feature? :new_symptom_checker %>
  <div class="container">
    <div class="row">
      <div class="col-md-5 feature_name">
        New Symptom Checker
      </div>
      <div class="col-md-5 feature_status">False</div>
    </div>
  </div>
<% end %>

<% if feature? :my_itriage %>
  <div class="container">
    <div class="row">
      <div class="col-md-5 feature_name">
        My iTriage
      </div>
      <div class="col-md-5 feature_status">False</div>
    </div>
  </div>
<% end %>

<% if feature? :itriage_connect %>
  <div class="container">
    <div class="row">
      <div class="col-md-5 feature_name">
        iTriage Connect
      </div>
      <div class="col-md-5 feature_status">True</div>
    </div>
  </div>
<% end %>

<% if feature? :new_signup_form %>
  <div class="container">
    <div class="row">
      <div class="col-md-5 feature_name">
        New Sign Up Form
      </div>
      <div class="col-md-5 feature_status">True</div>
    </div>
  </div>
<% end %>

<% if feature? :healthnews %>
  <div class="container">
    <div class="row">
      <div class="col-md-5 feature_name">
        Healthnews
      </div>
      <div class="col-md-5 feature_status">False</div>
    </div>
  </div>
<% end %>